Source: ros-hydro-handle-detector
Section: misc
Priority: extra
Maintainer: Andreas ten Pas <atp@ccs.neu.edu>
Build-Depends: debhelper (>= 7.0.50~), liblapack-dev, ros-hydro-catkin, ros-hydro-eigen-conversions, ros-hydro-geometry-msgs, ros-hydro-message-generation, ros-hydro-pcl-conversions, ros-hydro-pcl-ros, ros-hydro-roscpp, ros-hydro-std-msgs, ros-hydro-tf, ros-hydro-tf-conversions, ros-hydro-visualization-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-hydro-handle-detector
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, liblapack-dev, ros-hydro-eigen-conversions, ros-hydro-geometry-msgs, ros-hydro-message-runtime, ros-hydro-pcl-conversions, ros-hydro-pcl-ros, ros-hydro-roscpp, ros-hydro-std-msgs, ros-hydro-tf, ros-hydro-tf-conversions, ros-hydro-visualization-msgs
Description: ROS package to detect handles.
